.infoperso{
                    /*Set width and height*/
                    width: 300px;
                    height: 150px;
                    /*Set border*/
                    border: 3px solid gold;
                    /*Set box size*/
                    box-sizing: border-box;
                    /*Set shadow box*/
                    box-shadow: 10px 10px 10px;
                    /*move interior to the top*/
                    padding-top: 35px;
                }
.infoperso>ul{
                    /*Set style list*/
                        list-style-type: none;
                    
                }
