body {
	background-color:#AB1D37;
	color:gold;
}

.navbar {
	background-color: gold;

}

a {
	color:#AB1D37 !important;
}

a:hover {
	color:gold !important;
	background-color: #AB1D37 !important;
}

h1 {
	border-top:3px solid gold;
	border-bottom:3px solid gold;
	padding-top: 1%;
	padding-bottom: 1%;
	font-family: Indie Flower, cursive;
	font-size:72px;
}

h2 {
	border-bottom:3px solid gold;
	font-family: Indie Flower, cursive;
}